{% extends "base.html" %}

{% block content %}

<h1>About US </h1>

<br>

<p>Welcome to The Manga Zone, your one-stop destination for all things manga! We’re ready to bring you the best stories from Japan, whether you're a seasoned reader or a newcomer to the world of manga. At The Manga Zone, we offer a wide range of titles, from popular series like Naruto and Attack on Titan to hidden gems like the 20th Century Boys. We believe in creating a casual and welcoming space for readers of all ages to explore new worlds with fellow enthusiasts.  Whether you’re looking to dive into a new series or find the perfect gift for a fellow fan, our friendly staff is here to help. Visit us and discover your next manga obsession at The Manga Zone! !</p>
{% endblock %}