{% extends "base.html" %}

{% block content %}

<h1 Dog Brush</h1>
<br>

<img src="{{ url_for('static', filename='assets/brush.jpg') }}" alt="Davies Dawgy Den Logo" width="200">
<h1>All Natural dog brush- $9.99</h1>
<br>

<img src="{{ url_for('static', filename='assets/leash.jpg') }}" alt="Davies Dawgy Den Logo" width="200">
<h1>Real leather Dog leash- $19.99</h1>
<br>

<img src="{{ url_for('static', filename='assets/shampoo.jpg') }}" alt="Davies Dawgy Den Logo" width="200">
<h1>Paraben Free shampoo- $5.99</h1>
<br>

<img src="{{ url_for('static', filename='assets/toy.jpg') }}" alt="Davies Dawgy Den Logo" width="200">
<h1>Plush Dog toy- $7.49</h1>
<br>

{% endblock %}